// Here you can add other styles


.dash-logo{
    font-family: 'Archivo Black', sans-serif !important;
    font-size: 30px;
}
h1 {
    margin-top: 10px;
    color: white;
    z-index: 10;
}
.bg{
    //background-image: url('../assets/images/certitude_bg.png');
    // background-size: cover;
    // background-repeat: no-repeat;
}
.rectangle{
    position: absolute;
    width: 200px;
    height: 20px;
    margin-top: 35px;
    margin-left: 35px;
    z-index: 0;
    background: linear-gradient(90deg, rgb(255, 119, 0) 0%, rgba(252,181,49,1) 50%, rgba(254,209,50,1) 100%);
    z-index: 0;
    border-radius: 8px;
  }

.main-logo{
    display: none;
    font-family: 'Archivo Black', sans-serif !important;
    font-size: 50px;
    background: linear-gradient(90deg, rgb(255, 119, 0) 0%, rgba(252,181,49,1) 50%, rgba(254,209,50,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sidebar{
    --cui-sidebar-bg: #000015;
}

.footer{
    background-color: #252525;
}

.card-bg{
    background-color: #121231;
}
.table-bg{
    background-color: #f5f5f5;
}

h2{
    color: #f5f5f5;
}

.text-btn{
    color: white;
    pointer-events: none;
    // background-color: #2ada85;
}

.btn-success {
    background-color: #2ada85;
}

.btn-warning {
    background-color: #e4c246;
}

.btn-danger {
    background-color: #f65051;
}